.tmp
.DS_Store
project.godot

/.import
/.vscode
/default_env.tres
/default_bus_layout.tres
/icon.svg
/icon.svg.import
export_presets.cfg

# Only add plugin 
/addons/*
!/addons/video-maker
# Place test project files here
/demo

# Godot 4+ specific ignores
.godot/
demo/demo_video.tscn
icon.svg
*.import
project.godot
